instagrapi==1.16.27
playwright==1.24.0
scrapy-playwright==0.0.21
Scrapy==2.6.1
lxml==4.9.0
itemadapter==0.6.0
itemloaders==1.0.4

django-environ==0.4.5
Django==4.0
djangorestframework==3.13.1
Pillow==9.2.0
psycopg2==2.9.3

selenium==4.3.0
webdriver-manager==3.7.1
validators==0.20.0
tqdm==4.64.0
termcolor==1.1.0

gspread==5.4.0
